<launch>
  <arg name="hardware_accel" default="false" />
  <arg name="hardware_device" default="cuda" />

  <include file="$(find autonomy_demo)/launch/sim.launch">
    <arg name="hardware_accel" value="$(arg hardware_accel)" />
    <arg name="hardware_device" value="$(arg hardware_device)" />
  </include>

  <node pkg="autonomy_demo" type="data_collector.py" name="data_collector" output="screen">
    <param name="output_dir" value="$(env HOME)/autonomy_demo/dataset" />
    <param name="near_threshold" value="4.0" />
    <param name="camera_pitch_deg" value="10.0" />
    <param name="hardware_accel" value="$(arg hardware_accel)" />
    <param name="hardware_device" value="$(arg hardware_device)" />
  </node>
</launch>
